#sobre {
  font-size:large;
  text-align: left;
  top:30%;
  position:relative
}

#foto{
  text-align: left;
  border-radius: 150px;
  display: block;
}

#background{
  text-align: center;
  background-color: aliceblue;
}

.btn.btn-secondary.btn-lg{
  background-color: rgb(120, 120, 212);
}

#fonte{
  color: inherit;
  text-decoration: none;
  }
.ferramentas {
  font-size: x-large;
  font-style: italic;
  position: absolute;
  text-align: right;
  align-items: rigth;
  top : 0;
  bottom: 100%;
  margin-left: 80%;
}

