#sobre {
  font-size:large;
  text-align: left;
}

#foto{
  text-align: left;
  border-radius: 150px;
  border-style: groove;
}

#background{
  text-align: center;
  background-color: aliceblue;
}

.buttonstyle{
  background-color: aliceblue;
  text-align: right ;
  
}

.btn.btn-secondary.btn-lg{
  background-color: rgb(120, 120, 212);

}

#fonte{
  color: inherit;
  text-decoration: none;
  }
