<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
</head>
<body>
    <img src="{% static 'mefoto.png' %}" alt="perfil" id="foto">

    <div>
    <p>sobre mim</p>
    <p>Desenvolvedor fullstack com foco em 
        django integrado com js,html,react,sql,css,rest.
    </p>
    </div>

    <div>
    <p>contato</p>
    <p>linkedin.com/in/matheus-elias-martins-dimon-b71048154</p>
    <p>matheus.dimon@gmail.com</p>
    </div>
    
    <div>
    <p>redes sociais</p>
    <p>instagram.com/matheus_dimon/</p>
    <p>https://www.facebook.com/matheuselias.martinsdimon</p>
    </div>

    <div>
    <p>portifólio</p>
    <p>https://github.com/Matheus-Dimon</p>
    </div>
</body>
</html>