{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div id = "foto">
        <img src="{% static 'img/mefoto.png' %}" alt="logotipo" class="foto">
    </div>

    <div>
        <p>sobre mim</p>
        <p>Desenvolvedor fullstack com foco em 
            django integrado com JS, HTML, React, SQL, CSS, REST.
        </p>
    </div>

    <div>
        <p>Contato</p>
        <button><a href="https://www.linkedin.com/in/matheus-elias-martins-dimon-b71048154">LinkedIn</a></button>
        <button><a href="mailto:matheus.dimon@gmail.com">matheus.dimon@gmail.com</a></button>
    </div>
    
    <div>
        <p>Redes Sociais</p>
        <button><a href="https://instagram.com/matheus_dimon">Instagram</a></button>
        <button><a href="https://www.facebook.com/matheuselias.martinsdimon">Facebook</a></button>
    </div>

    <div>
        <p>Portfólio</p>
        <button><a href="https://github.com/Matheus-Dimon">GitHub</a></button>
    </div>
    
</body>
</html>
