{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de boas vindas</title>
    <link rel="stylesheet" href="{% static 'css/welcomestyle.css' %}">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
</head>

<body id="background">
    <p class="container" id = "titulo">Esta é minha página de apresentação</p>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <button class="container" id="but" onmouseout="sair()" onmouseenter="entrar()">
        Entrar
        </button>
    </form>
</body>


<footer>

    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous">
    </script>

    <script src="{% static 'js/welcomescript.js' %}"></script>
    

</footer>


</html>
